.nav-bar{
  background-color: #808D7B;
  font-family: 'GFS Didot', serif;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-link{
  display: inline;
  color: #172F0E;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-link:hover{
  color: white;
}

.cactus{
  z-index: 0;
  width: 100%;
}

.logo{
  position: absolute;
  z-index: 10;
  top:0;
  left:0;
  width: 40px;
}

.Brittany{
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 30pt;
  transform: translateX(-50%);
  font-family: 'Libre Baskerville', serif;
  color: #172F0E;
  z-index: 10;
}

.UX{
  color: #5C6C55;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Libre Baskerville', serif;
  font-size: 20pt;
  z-index: 10;
}

.landingpage{
  text-align: center;
  position: relative;
}

.heading-title{
  margin-top: 30px;
  margin-bottom: 30px;
}

.case-study{
  text-align: center;
  margin-bottom: 30px;

}

.case-study-left{
  font-family: 'GFS Didot', serif;
  font-size: 20px;
  color: grey;
  text-align: center;
  display: inline-block;
  width: 35%;
  max-width: 300px;
  margin-right: 100px;
}

.greyline{
  width: 300px;
  border-top: 1px solid;
  margin-top: 50px;
  color: #BAB8B8;
}

.case-study-img{
  display: inline-block;
  width: 35%;
  max-width: 300px;
  vertical-align: middle;
}

.heading-title{
  color: #3E3E3E;
  font-size: 25px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.case-study-title{
 font-size: 22px;
 position: relative;
 color: #595959;
 font-family: 'GFS Didot', serif;
 text-align: center;
 margin-bottom: 20px;
}

.case-study-subtitle{
  font-size: 18px;
  color: #3E3E3E;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
.case-study-subtitle:hover{
  background-color: orange;
  color: white;
}

.footer-left{
  font-size: 12px;
  color: #172F0E;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footer{
  background-color: #8A9684;
  font-family: 'GFS Didot', serif;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.social-logos{
display: inline-block;
width: 20px;
margin-right: 10px;
}

.section{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  /* height: 90vh; */
  padding-top: 5%;
}

.dashboard{
  width: 45%;
  margin-top: 150px;
}

.mobile{
  width: 45%;
  margin-top: 75px;
}

.v-center{
  vertical-align: middle !important;
}

.centered{
  text-align: center !important;
}

.flyt-logo{
  width: 100%;
}

.branding{
  margin-bottom: 100px !important;
}

.section-title{
  font-size: 22px;
  position: relative;
  color: #3E3E3E;
  font-family: 'GFS Didot', serif;
  text-align: center;
  margin-bottom: 50px;

}

.case-study-img{
  margin-right: 100px;
}

.case-study-content{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  color: grey;
  text-align: left;
  line-height: 1.5em;
}

.summary-content{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  color: grey;
  width: 60%;
  margin-left: 20%;
  line-height: 1.5em;
}


.flyt-page1{
  text-align: center;
  margin-bottom: 30px;
}


.flyt-left{
  display: inline-block;
  margin-left: 40px;
}

.flyt-left img{
  width: 200px;
}

.flyt-right{
  font-size: 18px;
  color: grey;
  text-align: left;
  display: inline-block;
  width: 60%;
  vertical-align: top;
  position: relative;
  margin-left: 50px;
}

.case-study-button{
  font-size: 16px;
  color: #3E3E3E;
  border: 2px solid orange;
  padding: 10px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  margin: auto;
  width: 134px;
  margin-top: 50px;
  font-family: 'Nunito Sans', sans-serif;
}
.case-study-button:hover{
  background-color: orange;
  color: white;
}

/* .problem-solution{
  margin-bottom: 70px;
  line-height: 1.5em;

} */


.half-page{
  display: inline-block;
  text-align: left;
  width: 35%;
  font-size: 18px;
  color: grey;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 75px;
}

.half-cloud{
  display: inline-block;
  text-align: left;
  width: 35%;
  font-size: 18px;
  color: grey;
  vertical-align: middle;
}

.half-cloud img{
  margin-top: 50px;
  width: 100%;
}

.half-cloud .case-study-content{
  line-height: 2em;
}

.case-study-content-ol{
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5em;
}

.survey{
  text-align: center;
}

.half-comp{
  display: inline-block;
  text-align: left;
  width: 35%;
  font-size: 18px;
  color: grey;
  vertical-align: middle;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

}


.half-comp img{
  width: 100%;
  padding-top: 40px;
}


.half-comp .case-study-content{
  line-height: 1.5em;
}

.half-personas img{
  width: 80%;
  margin-bottom: 50px;
  margin-left: 10%;
  text-align: center;
  margin: 20px auto;
}

.half-personas .case-study-content{
  margin: auto;
  line-height: 1.5em;
}

.comp-title{
  width: 110px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 20px;
}

.personas-left{
  font-size: 18px;
  color: grey;
  text-align: left;
  display: inline-block;
  width: 60%;
  height: fit-content;
  margin-left: 30px;
  vertical-align: top;
  position: relative;
}

.personas-right img{
  height: 300px;
  margin-right: 100px;
}

.competitive{
  text-align: center;
  margin-bottom: 30px;
}

.stories-left{
display: inline-block;
width: 40%;
text-align: left;
vertical-align: top;
}

.stories-right{
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.biocontent{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: grey;
    text-align: left;
    line-height: 1.5em;
}

.biocontent-bold{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 27px;
    color: grey;
}

@media only screen and (max-width: 700px) {
  .Brittany{
    top: 20%;
    font-size: 18pt;

  }
  .UX{
    top: 30%;
    font-size: 12pt;
  }
  .nav-bar{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .logo{
    width: 32px;
  }
  .navbar-link{
    display: inline;
    color: #172F0E;
    margin-right: 20px;
    text-decoration: none;
    font-size: 10pt;
  }
  .case-study-left{
    width: 100%;
    margin-right: 0;
    font-size: 14pt;
  }
  .case-study-img{
    display: block;
    width: 50%;
    max-width: 300px;
    vertical-align: middle;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .greyline{
    display: none;
  }
  .case-study-subtitle{
    font-size: 12px;
  }
  .flyt-left img{
    width: 80%;
  }
  .flyt-left{
  margin: 0;
  }
  .flyt-right{
    margin-left: 0;
    width: 80%;
  }
  .summary-content{
    margin-left: 0;
    width: 100%;
    font-size: 14pt;
  }
  .case-study-content-ol{
    font-size: 14p4;
  }

  .case-study-title{
    margin-top: 30px;
  }
  .section-title{
    margin-top: 30px;
  }

  .half-page{
    width: 90%;
    margin: auto;
  }
  .half-personas{
    width:90%;
    margin: auto;
  }
  .section{
    text-align: center;
  }
  .half-cloud{
    width: 90%;
  }
  .half-comp{
    width: 90%;
  }
  .case-study-content{
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 20px;
}
